{
  "extends": ["@antfu", "@unocss"],
  "rules": {
    "no-console": "off",
    "curly": ["error", "all"],
    "arrow-parens": ["error", "as-needed"],
    "array-callback-return": 0,
    "prefer-promise-reject-errors": ["error", { "allowEmptyReject": true }],
    "antfu/top-level-function": "off",
    // typescript
    "@typescript-eslint/brace-style": ["error", "1tbs"],
    "@typescript-eslint/quotes": ["error", "single", { "avoidEscape": true }], // 单引号，允许反义
    "@stylistic/ts/brace-style": ["off"],
    // vue
    // "vue/attribute-hyphenation": ["warn", "never", { "ignore": ["custom-prop"] }], // props attrs
    "vue/v-on-event-hyphenation": ["warn", "never", { "ignore": ["custom-event"] }], // v-on
    // node @see: https://github.com/eslint-community/eslint-plugin-n/blob/HEAD/docs/rules/prefer-global/process.md
     "n/prefer-global/process": "off"
  }
}
